In [2]:
import pandas as pd
import numpy as np

## Read in the Uber trips saved on local machine

In [3]:
week1 = pd.read_csv("UBER TRIP DOCS/week1.csv")
week2 = pd.read_csv("UBER TRIP DOCS/week2.csv")
week3 = pd.read_csv("UBER TRIP DOCS/week3.csv")
week4 = pd.read_csv("UBER TRIP DOCS/week4.csv")
week5 = pd.read_csv("UBER TRIP DOCS/week5.csv")
week6 = pd.read_csv("UBER TRIP DOCS/week6.csv")
week7 = pd.read_csv("UBER TRIP DOCS/week7.csv")
week8 = pd.read_csv("UBER TRIP DOCS/week8.csv")
week9 = pd.read_csv("UBER TRIP DOCS/week9.csv")
week10 = pd.read_csv("UBER TRIP DOCS/week10.csv")
week11 = pd.read_csv("UBER TRIP DOCS/week11.csv")
week12 = pd.read_csv("UBER TRIP DOCS/week12.csv")
week13 = pd.read_csv("UBER TRIP DOCS/week13.csv")
week14 = pd.read_csv("UBER TRIP DOCS/week14.csv")
week15 = pd.read_csv("UBER TRIP DOCS/week15.csv")
week16 = pd.read_csv("UBER TRIP DOCS/week16.csv")
week17 = pd.read_csv("UBER TRIP DOCS/week17.csv")
week18 = pd.read_csv("UBER TRIP DOCS/week18.csv")
week19 = pd.read_csv("UBER TRIP DOCS/week19.csv")
week20 = pd.read_csv("UBER TRIP DOCS/week20.csv")
week21 = pd.read_csv("UBER TRIP DOCS/week21.csv")
week22 = pd.read_csv("UBER TRIP DOCS/week22.csv")

In [4]:
trip1 = pd.read_csv("UBER TRIP DOCS/yinka1.csv")
trip2 = pd.read_csv("UBER TRIP DOCS/yinka2.csv")
trip3 = pd.read_csv("UBER TRIP DOCS/yinka3.csv")
trip4 = pd.read_csv("UBER TRIP DOCS/yinka4.csv")
trip5 = pd.read_csv("UBER TRIP DOCS/yinka5.csv")
trip6 = pd.read_csv("UBER TRIP DOCS/yinka6.csv")
trip7 = pd.read_csv("UBER TRIP DOCS/yinka7.csv")
trip8 = pd.read_csv("UBER TRIP DOCS/yinka8.csv")
trip9 = pd.read_csv("UBER TRIP DOCS/yinka9.csv")
trip10 = pd.read_csv("UBER TRIP DOCS/yinka10.csv")
trip11 = pd.read_csv("UBER TRIP DOCS/yinka11.csv")
trip12 = pd.read_csv("UBER TRIP DOCS/yinka12.csv")
trip13 = pd.read_csv("UBER TRIP DOCS/yinka13.csv")
trip14 = pd.read_csv("UBER TRIP DOCS/yinka14.csv")
trip15 = pd.read_csv("UBER TRIP DOCS/yinka15.csv")
trip16 = pd.read_csv("UBER TRIP DOCS/yinka16.csv")
trip17 = pd.read_csv("UBER TRIP DOCS/yinka17.csv")
trip18 = pd.read_csv("UBER TRIP DOCS/yinka18.csv")
trip19 = pd.read_csv("UBER TRIP DOCS/yinka19.csv")
trip20 = pd.read_csv("UBER TRIP DOCS/yinka20.csv")
trip21 = pd.read_csv("UBER TRIP DOCS/yinka21.csv")
trip22 = pd.read_csv("UBER TRIP DOCS/yinka22.csv")
trip23 = pd.read_csv("UBER TRIP DOCS/yinka23.csv")
trip24 = pd.read_csv("UBER TRIP DOCS/yinka24.csv")
trip25 = pd.read_csv("UBER TRIP DOCS/yinka25.csv")
trip26 = pd.read_csv("UBER TRIP DOCS/yinka26.csv")
trip27 = pd.read_csv("UBER TRIP DOCS/yinka27.csv")
trip28 = pd.read_csv("UBER TRIP DOCS/yinka28.csv")
trip29 = pd.read_csv("UBER TRIP DOCS/yinka29.csv")
trip30 = pd.read_csv("UBER TRIP DOCS/yinka30.csv")
trip31 = pd.read_csv("UBER TRIP DOCS/yinka31.csv")
trip32 = pd.read_csv("UBER TRIP DOCS/yinka32.csv")
trip33 = pd.read_csv("UBER TRIP DOCS/yinka33.csv")
trip34 = pd.read_csv("UBER TRIP DOCS/yinka34.csv")
trip35 = pd.read_csv("UBER TRIP DOCS/yinka35.csv")
trip36 = pd.read_csv("UBER TRIP DOCS/yinka36.csv")
trip37 = pd.read_csv("UBER TRIP DOCS/yinka37.csv")
trip38 = pd.read_csv("UBER TRIP DOCS/yinka38.csv")
trip39 = pd.read_csv("UBER TRIP DOCS/yinka39.csv")
trip40 = pd.read_csv("UBER TRIP DOCS/yinka40.csv")
trip41 = pd.read_csv("UBER TRIP DOCS/yinka41.csv")
trip42 = pd.read_csv("UBER TRIP DOCS/yinka42.csv")
trip43 = pd.read_csv("UBER TRIP DOCS/yinka43.csv")
trip44 = pd.read_csv("UBER TRIP DOCS/yinka44.csv")
trip45 = pd.read_csv("UBER TRIP DOCS/yinka45.csv")
trip46 = pd.read_csv("UBER TRIP DOCS/yinka46.csv")
trip47 = pd.read_csv("UBER TRIP DOCS/yinka47.csv")
trip48 = pd.read_csv("UBER TRIP DOCS/yinka48.csv")

## merge the different uber trips as saved on local machine. i decided the to use the concat method out of the different methods available

In [5]:
df1 = pd.concat([week1, week2, week3, week4, week5, week6, week7,
               week8, week9, week10, week11, week12, week13,
               week14, week15, week16, week17, week18,
               week19, week20, week21, week22], axis=0)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

In [6]:
df2 = pd.concat([trip1, trip2, trip3, trip4, trip5, trip6, trip7,
                trip8, trip9, trip10, trip11, trip12, trip13, trip14,
                trip15, trip16, trip17, trip18, trip19, trip20,
                trip21, trip22, trip23, trip24, trip25, trip26,
                trip27, trip28, trip29, trip30, trip31, trip32,
                trip33, trip34, trip35, trip36, trip37, trip38,
                trip39, trip40, trip41, trip42, trip43, trip44,
                trip45, trip46, trip47, trip48], axis=0)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

## Check the shape of the two Dataframe created from the Uber documentation

In [7]:
df1.shape

(1260, 28)

In [8]:
df2.shape

(955, 23)

## Check column names of the Dataframe

In [9]:
df1.columns

Index(['Additional Pickups', 'Base Fare', 'Black Car Fund', 'Booking Fee',
       'Boost', 'Cancellation', 'Consecutive Trips Promotion', 'Date/Time',
       'Distance', 'Driver Name', 'Email', 'Fare', 'Long Pickup Fee',
       'Min Fare Supplement', 'Other Promotions', 'Phone Number',
       'Quest Promotion', 'Sales Tax', 'Surge', 'Time', 'Tip', 'Toll', 'Total',
       'Trip ID', 'Type', 'Uber Fee', 'Vehicle Related Fee', 'Wait Time'],
      dtype='object')

In [10]:
df2.columns

Index(['Additional Pickups', 'Base Fare', 'Booking Fee', 'Cancellation',
       'Consecutive Trips Promotion', 'Date/Time', 'Distance', 'Driver Name',
       'Email', 'Instant Pay Fees', 'Long Pickup Fee', 'Min Fare Supplement',
       'Other Promotions', 'Phone Number', 'Quest Promotion', 'Surge', 'Time',
       'Tip', 'Toll', 'Total', 'Trip ID', 'Type', 'Wait Time'],
      dtype='object')

In [11]:
df2.head()

,Additional Pickups,Base Fare,Booking Fee,Cancellation,Consecutive Trips Promotion,Date/Time,Distance,Driver Name,Email,Instant Pay Fees,...,Phone Number,Quest Promotion,Surge,Time,Tip,Toll,Total,Trip ID,Type,Wait Time
0,$0.75,NaN,NaN,NaN,NaN,"Wednesday, December 19, 2018 11:06 PM",$0.93,Olayinka Ayeye,NaN,NaN,...,NaN,NaN,$0.54,$0.85,$1.00,NaN,$4.07,dfd933ad-e091-4b18-ac2b-dd0ef01fdde1,Pool,NaN
1,NaN,$1.72,NaN,NaN,NaN,"Wednesday, December 19, 2018 6:42 PM",$1.93,Olayinka Ayeye,NaN,NaN,...,NaN,NaN,NaN,$3.36,NaN,NaN,$7.01,3d0c75ef-541e-409a-9b37-81d788d94839,UberX,NaN
2,NaN,NaN,NaN,$3.37,NaN,"Wednesday, December 19, 2018 6:25 PM",NaN,Olayinka Ayeye,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,$3.37,67a35ad6-8fc2-4d8c-b9f4-16b6a15d93bf,UberX,NaN
3,$0.75,NaN,NaN,NaN,NaN,"Wednesday, December 19, 2018 10:49 PM",$2.77,Olayinka Ayeye,NaN,NaN,...,NaN,NaN,$1.78,$3.16,NaN,NaN,$8.46,0138688a-8b18-4411-a9cc-d2f0840db621,Pool,NaN
4,NaN,$1.72,NaN,NaN,NaN,"Wednesday, December 19, 2018 9:55 PM",$5.17,Olayinka Ayeye,NaN,NaN,...,NaN,NaN,NaN,$3.97,NaN,NaN,$10.86,5d561d96-ff74-42d1-a981-b39bf6c160e1,UberX VIP,NaN

In [12]:
df2.tail()

,Additional Pickups,Base Fare,Booking Fee,Cancellation,Consecutive Trips Promotion,Date/Time,Distance,Driver Name,Email,Instant Pay Fees,...,Phone Number,Quest Promotion,Surge,Time,Tip,Toll,Total,Trip ID,Type,Wait Time
14,$0.75,NaN,NaN,NaN,NaN,"Saturday, December 22, 2018 7:00 PM",$2.01,Olayinka Ayeye,NaN,NaN,...,NaN,NaN,NaN,$1.42,NaN,NaN,$4.18,f04a5537-dbbc-44b4-b274-086f25974354,Pool,NaN
15,$0.75,NaN,NaN,NaN,NaN,"Saturday, December 22, 2018 7:03 PM",$10.21,Olayinka Ayeye,NaN,NaN,...,NaN,NaN,NaN,$8.50,NaN,$2.88,$22.34,fc6b7c98-7491-49ae-bea5-4b78860a4c2e,Pool,NaN
16,NaN,$1.72,NaN,NaN,NaN,"Saturday, December 22, 2018 11:47 PM",$5.82,Olayinka Ayeye,NaN,NaN,...,NaN,NaN,NaN,$5.95,NaN,NaN,$13.49,dba9a7b9-b7db-4638-a06d-59e39c04dcff,UberX,NaN
17,NaN,$1.72,NaN,NaN,NaN,"Saturday, December 22, 2018 7:01 PM",$3.77,Olayinka Ayeye,NaN,NaN,...,NaN,NaN,NaN,$3.11,NaN,NaN,$8.60,205a05a6-eb03-4ad7-af06-8577bd554352,Pool,NaN
18,$0.75,NaN,NaN,NaN,NaN,"Sunday, December 23, 2018 1:09 AM",$0.53,Olayinka Ayeye,NaN,NaN,...,NaN,NaN,NaN,$0.64,NaN,NaN,$1.92,d3df1dbd-666e-4f6e-9866-a9bf53660123,Pool,NaN

## Merge the two Dataframes together (df1, df2). I decided to use the .concat method because the shapes of the two Dataframes are not same so it would be joined as outer join. This way, i will not loose any data.

In [13]:
df = pd.concat([df1, df2], axis=0)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [14]:
df.reset_index(inplace=True)

In [15]:
df.head()

,index,Additional Pickups,Base Fare,Black Car Fund,Booking Fee,Boost,Cancellation,Consecutive Trips Promotion,Date/Time,Distance,...,Surge,Time,Tip,Toll,Total,Trip ID,Type,Uber Fee,Vehicle Related Fee,Wait Time
0,0,NaN,NaN,-$0.35,NaN,NaN,NaN,NaN,"Saturday, December 17, 2016 6:51 PM",NaN,...,$3.40,NaN,NaN,NaN,$9.45,0eb8db4a-fabd-4f0d-a8ab-aca4acc2228b,uberX,-$3.68,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Saturday, December 17, 2016 3:33 PM",NaN,...,NaN,NaN,NaN,NaN,$13.20,d9057c90-7741-4c02-b6f1-9ce3f90f9bfe,uber X,-$4.40,NaN,NaN
2,2,NaN,NaN,-$0.55,NaN,NaN,NaN,NaN,"Friday, December 16, 2016 3:38 PM",NaN,...,NaN,NaN,NaN,NaN,$17.82,a393b2d8-c610-4ad1-9878-1c0403485093,uberX,-$6.67,NaN,$0.84
3,3,NaN,NaN,-$0.57,NaN,NaN,NaN,NaN,"Friday, December 16, 2016 7:40 PM",NaN,...,$10.12,NaN,NaN,NaN,$17.65,992f6e4f-51f6-4858-ac16-65e3fe22bbae,uberX,-$6.75,NaN,NaN
4,4,NaN,NaN,-$0.17,NaN,NaN,NaN,NaN,"Friday, December 16, 2016 9:53 AM",NaN,...,NaN,NaN,NaN,NaN,$5.40,25263499-9722-4850-a8bd-40316b5d97a9,uberX,-$2.05,NaN,$0.21

In [16]:
df.set_index("index", inplace=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2215 entries, 0 to 18
Data columns (total 29 columns):
Additional Pickups             362 non-null object
Base Fare                      1068 non-null object
Black Car Fund                 633 non-null object
Booking Fee                    49 non-null object
Boost                          14 non-null object
Cancellation                   90 non-null object
Consecutive Trips Promotion    0 non-null float64
Date/Time                      2215 non-null object
Distance                       1448 non-null object
Driver Name                    2215 non-null object
Email                          0 non-null object
Fare                           663 non-null object
Instant Pay Fees               0 non-null float64
Long Pickup Fee                23 non-null object
Min Fare Supplement            183 non-null object
Other Promotions               0 non-null object
Phone Number                   0 non-null object
Quest Promotion                0 non-null float64
Sales Tax                      622 non-null object
Surge                          213 non-null object
Time                           1448 non-null object
Tip                            133 non-null object
Toll                           190 non-null object
Total                          2215 non-null object
Trip ID                        2215 non-null object
Type                           2215 non-null object
Uber Fee                       686 non-null object
Vehicle Related Fee            0 non-null float64
Wait Time                      261 non-null object
dtypes: float64(4), object(25)
memory usage: 519.1+ KB

In [18]:
df.shape

(2215, 29)

In [19]:
df.dtypes

Additional Pickups              object
Base Fare                       object
Black Car Fund                  object
Booking Fee                     object
Boost                           object
Cancellation                    object
Consecutive Trips Promotion    float64
Date/Time                       object
Distance                        object
Driver Name                     object
Email                           object
Fare                            object
Instant Pay Fees               float64
Long Pickup Fee                 object
Min Fare Supplement             object
Other Promotions                object
Phone Number                    object
Quest Promotion                float64
Sales Tax                       object
Surge                           object
Time                            object
Tip                             object
Toll                            object
Total                           object
Trip ID                         object
Type                            object
Uber Fee                        object
Vehicle Related Fee            float64
Wait Time                       object
dtype: object

In [20]:
df.columns

Index(['Additional Pickups', 'Base Fare', 'Black Car Fund', 'Booking Fee',
       'Boost', 'Cancellation', 'Consecutive Trips Promotion', 'Date/Time',
       'Distance', 'Driver Name', 'Email', 'Fare', 'Instant Pay Fees',
       'Long Pickup Fee', 'Min Fare Supplement', 'Other Promotions',
       'Phone Number', 'Quest Promotion', 'Sales Tax', 'Surge', 'Time', 'Tip',
       'Toll', 'Total', 'Trip ID', 'Type', 'Uber Fee', 'Vehicle Related Fee',
       'Wait Time'],
      dtype='object')

In [21]:
df.isnull().sum()

Additional Pickups             1853
Base Fare                      1147
Black Car Fund                 1582
Booking Fee                    2166
Boost                          2201
Cancellation                   2125
Consecutive Trips Promotion    2215
Date/Time                         0
Distance                        767
Driver Name                       0
Email                          2215
Fare                           1552
Instant Pay Fees               2215
Long Pickup Fee                2192
Min Fare Supplement            2032
Other Promotions               2215
Phone Number                   2215
Quest Promotion                2215
Sales Tax                      1593
Surge                          2002
Time                            767
Tip                            2082
Toll                           2025
Total                             0
Trip ID                           0
Type                              0
Uber Fee                       1529
Vehicle Related Fee            2215
Wait Time                      1954
dtype: int64

## After checking to see the null values, i realised there are a lot of data here that is totally useless. so i'll drop columns that has all its data as NaNs, and some other ones that are useless for the purpose of this work.

In [22]:
df.drop(["Booking Fee", "Boost", "Cancellation", "Consecutive Trips Promotion",
         "Email", "Instant Pay Fees", "Long Pickup Fee", "Min Fare Supplement",
         "Other Promotions", "Phone Number", "Quest Promotion", "Toll",
         "Wait Time", "Vehicle Related Fee", "Driver Name", "Tip", "Trip ID"
         ], axis=1, inplace=True)

In [23]:
df.shape

(2215, 12)

In [24]:
df.head()

,Additional Pickups,Base Fare,Black Car Fund,Date/Time,Distance,Fare,Sales Tax,Surge,Time,Total,Type,Uber Fee
index,,,,,,,,,,,,
0,NaN,NaN,-$0.35,"Saturday, December 17, 2016 6:51 PM",NaN,$11.32,-$1.24,$3.40,NaN,$9.45,uberX,-$3.68
1,NaN,NaN,NaN,"Saturday, December 17, 2016 3:33 PM",NaN,$17.60,NaN,NaN,NaN,$13.20,uber X,-$4.40
2,NaN,NaN,-$0.55,"Friday, December 16, 2016 3:38 PM",NaN,$25.83,-$1.63,NaN,NaN,$17.82,uberX,-$6.67
3,NaN,NaN,-$0.57,"Friday, December 16, 2016 7:40 PM",NaN,$16.86,-$2.01,$10.12,NaN,$17.65,uberX,-$6.75
4,NaN,NaN,-$0.17,"Friday, December 16, 2016 9:53 AM",NaN,$8.00,-$0.59,NaN,NaN,$5.40,uberX,-$2.05

In [25]:
df.tail()

,Additional Pickups,Base Fare,Black Car Fund,Date/Time,Distance,Fare,Sales Tax,Surge,Time,Total,Type,Uber Fee
index,,,,,,,,,,,,
14,$0.75,NaN,NaN,"Saturday, December 22, 2018 7:00 PM",$2.01,NaN,NaN,NaN,$1.42,$4.18,Pool,NaN
15,$0.75,NaN,NaN,"Saturday, December 22, 2018 7:03 PM",$10.21,NaN,NaN,NaN,$8.50,$22.34,Pool,NaN
16,NaN,$1.72,NaN,"Saturday, December 22, 2018 11:47 PM",$5.82,NaN,NaN,NaN,$5.95,$13.49,UberX,NaN
17,NaN,$1.72,NaN,"Saturday, December 22, 2018 7:01 PM",$3.77,NaN,NaN,NaN,$3.11,$8.60,Pool,NaN
18,$0.75,NaN,NaN,"Sunday, December 23, 2018 1:09 AM",$0.53,NaN,NaN,NaN,$0.64,$1.92,Pool,NaN

In [26]:
df.isnull().sum()

Additional Pickups    1853
Base Fare             1147
Black Car Fund        1582
Date/Time                0
Distance               767
Fare                  1552
Sales Tax             1593
Surge                 2002
Time                   767
Total                    0
Type                     0
Uber Fee              1529
dtype: int64

In [27]:
df.shape

(2215, 12)

In [28]:
df["Date/Time"] = pd.to_datetime(df["Date/Time"])

In [29]:
df.head()

,Additional Pickups,Base Fare,Black Car Fund,Date/Time,Distance,Fare,Sales Tax,Surge,Time,Total,Type,Uber Fee
index,,,,,,,,,,,,
0,NaN,NaN,-$0.35,2016-12-17 18:51:00,NaN,$11.32,-$1.24,$3.40,NaN,$9.45,uberX,-$3.68
1,NaN,NaN,NaN,2016-12-17 15:33:00,NaN,$17.60,NaN,NaN,NaN,$13.20,uber X,-$4.40
2,NaN,NaN,-$0.55,2016-12-16 15:38:00,NaN,$25.83,-$1.63,NaN,NaN,$17.82,uberX,-$6.67
3,NaN,NaN,-$0.57,2016-12-16 19:40:00,NaN,$16.86,-$2.01,$10.12,NaN,$17.65,uberX,-$6.75
4,NaN,NaN,-$0.17,2016-12-16 09:53:00,NaN,$8.00,-$0.59,NaN,NaN,$5.40,uberX,-$2.05

In [30]:
#df['hour'] = df["Date/Time"].dt.round('H').dt.hour

In [31]:
df['DATE_formatted'] = [x.round('H') for x in df['Date/Time']]

In [32]:
df.head()

,Additional Pickups,Base Fare,Black Car Fund,Date/Time,Distance,Fare,Sales Tax,Surge,Time,Total,Type,Uber Fee,DATE_formatted
index,,,,,,,,,,,,,
0,NaN,NaN,-$0.35,2016-12-17 18:51:00,NaN,$11.32,-$1.24,$3.40,NaN,$9.45,uberX,-$3.68,2016-12-17 19:00:00
1,NaN,NaN,NaN,2016-12-17 15:33:00,NaN,$17.60,NaN,NaN,NaN,$13.20,uber X,-$4.40,2016-12-17 16:00:00
2,NaN,NaN,-$0.55,2016-12-16 15:38:00,NaN,$25.83,-$1.63,NaN,NaN,$17.82,uberX,-$6.67,2016-12-16 16:00:00
3,NaN,NaN,-$0.57,2016-12-16 19:40:00,NaN,$16.86,-$2.01,$10.12,NaN,$17.65,uberX,-$6.75,2016-12-16 20:00:00
4,NaN,NaN,-$0.17,2016-12-16 09:53:00,NaN,$8.00,-$0.59,NaN,NaN,$5.40,uberX,-$2.05,2016-12-16 10:00:00

In [33]:
df["Sales Tax"].fillna(0, inplace=True)

In [ ]:
df.head()

In [32]:
df = df.apply(lambda x: x.replace("-", ""))

AttributeError: ('Can only use .str accessor with string values, which use np.object_ dtype in pandas', 'occurred at index Date/Time')

In [ ]:
df = df.apply(lambda x: x.replace("$", ""))

In [33]:
df = df.apply(lambda x: x.replace("$", "") for x in [y for y in df.columns if y != "Date/Time"])

TypeError: ("'generator' object is not callable", 'occurred at index Additional Pickups')

In [ ]:
df.head()

In [ ]:
for i in df["Sales Tax"]:
    if i == 0:
        print(df["Fare"] * 0.08)
    else:
        print(i)

In [ ]:
df.dtypes

In [ ]:
[i for i in df["Sales Tax"] if i ==]

In [ ]:
#df["Sales Tax"].fillna(0, inplace=True)

In [ ]:
df.head()

In [ ]:
17.60 / 2.01

In [ ]:
11.32 * .08

## Change all the Nans to 0

In [ ]:
df = df.fillna(0)

In [ ]:
df.head()

In [ ]:
# check to see if we still have any null values
df.isnull().sum()

In [ ]:
df["Fare"] = df["Fare"].str.replace("$", "")
df["Fare"] = df["Fare"].str.replace("-", "")
df["Additional Pickups"] = df["Additional Pickups"].str.replace("$", " ")
#df["Base Fare"] = df["Base Farel"].str.replace("$", " ")
#df.head()

In [ ]:
temp = pd.Series([0,1,2])

In [ ]:
temp.astype(str)[0]

In [34]:
def strip_list(my_series):
    my_series = my_series.astype(str).str.replace("-", "")
    my_series = my_series.astype(str).str.replace("$", "")
    
    return(my_series)

In [35]:
strip_list(pd.Series(["$", ""]))

0
1
dtype: object

In [36]:
df.columns

Index(['Additional Pickups', 'Base Fare', 'Black Car Fund', 'Date/Time',
       'Distance', 'Fare', 'Sales Tax', 'Surge', 'Time', 'Total', 'Type',
       'Uber Fee', 'DATE_formatted'],
      dtype='object')

In [37]:
df.head()

,Additional Pickups,Base Fare,Black Car Fund,Date/Time,Distance,Fare,Sales Tax,Surge,Time,Total,Type,Uber Fee,DATE_formatted
index,,,,,,,,,,,,,
0,NaN,NaN,-$0.35,2016-12-17 18:51:00,NaN,$11.32,-$1.24,$3.40,NaN,$9.45,uberX,-$3.68,2016-12-17 19:00:00
1,NaN,NaN,NaN,2016-12-17 15:33:00,NaN,$17.60,NaN,NaN,NaN,$13.20,uber X,-$4.40,2016-12-17 16:00:00
2,NaN,NaN,-$0.55,2016-12-16 15:38:00,NaN,$25.83,-$1.63,NaN,NaN,$17.82,uberX,-$6.67,2016-12-16 16:00:00
3,NaN,NaN,-$0.57,2016-12-16 19:40:00,NaN,$16.86,-$2.01,$10.12,NaN,$17.65,uberX,-$6.75,2016-12-16 20:00:00
4,NaN,NaN,-$0.17,2016-12-16 09:53:00,NaN,$8.00,-$0.59,NaN,NaN,$5.40,uberX,-$2.05,2016-12-16 10:00:00

In [38]:
cols_to_strip = ["Additional Pickups", "Base Fare", "Black Car Fund",
                 "Distance", "Fare", "Sales Tax", "Surge", "Time", "Total"]

In [39]:
df.head()

,Additional Pickups,Base Fare,Black Car Fund,Date/Time,Distance,Fare,Sales Tax,Surge,Time,Total,Type,Uber Fee,DATE_formatted
index,,,,,,,,,,,,,
0,NaN,NaN,-$0.35,2016-12-17 18:51:00,NaN,$11.32,-$1.24,$3.40,NaN,$9.45,uberX,-$3.68,2016-12-17 19:00:00
1,NaN,NaN,NaN,2016-12-17 15:33:00,NaN,$17.60,NaN,NaN,NaN,$13.20,uber X,-$4.40,2016-12-17 16:00:00
2,NaN,NaN,-$0.55,2016-12-16 15:38:00,NaN,$25.83,-$1.63,NaN,NaN,$17.82,uberX,-$6.67,2016-12-16 16:00:00
3,NaN,NaN,-$0.57,2016-12-16 19:40:00,NaN,$16.86,-$2.01,$10.12,NaN,$17.65,uberX,-$6.75,2016-12-16 20:00:00
4,NaN,NaN,-$0.17,2016-12-16 09:53:00,NaN,$8.00,-$0.59,NaN,NaN,$5.40,uberX,-$2.05,2016-12-16 10:00:00

In [1]:
New_cols = df[cols_to_strip].apply(lambda x: strip_list(str(x)))

NameError: name 'df' is not defined

In [45]:
df = New_cols

In [46]:
df.head()

,Additional Pickups,Base Fare,Black Car Fund,Distance,Fare,Sales Tax,Surge,Time,Total
index,,,,,,,,,
0,nan,nan,0.35,nan,11.32,1.24,3.40,nan,9.45
1,nan,nan,nan,nan,17.60,nan,nan,nan,13.20
2,nan,nan,0.55,nan,25.83,1.63,nan,nan,17.82
3,nan,nan,0.57,nan,16.86,2.01,10.12,nan,17.65
4,nan,nan,0.17,nan,8.00,0.59,nan,nan,5.40

In [47]:
df.shape

(2215, 9)

In [ ]:
df["Fare"].str.replace("$", "")

In [ ]:
df.head()

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df[df.Fare]

In [ ]:
'alpha'.replace('a', 'b')

In [ ]:
df = df.apply(lambda x: x.str.replace("$", "") for x in [y for y in df.columns if y != "Date/Time"])

In [ ]:
df = df.apply(lambda x: x.replace("-", ""))

In [ ]:
df.head()

In [ ]:
df = df.map(lambda x: float(x.replace('$',' ')))

In [ ]:
weather = pd.read_csv("./weather.csv")

In [ ]:
weather.head()

In [ ]:
weather["DATE"] = pd.to_datetime(weather["DATE"])

In [ ]:
weather.head()

In [ ]:
weather.tail()

In [ ]:
weather.info()

In [ ]:
weather.drop(["DAILYMaximumDryBulbTemp", "DAILYMinimumDryBulbTemp",
              "DAILYAverageDryBulbTemp", "DAILYDeptFromNormalAverageTemp",
              "DAILYAverageRelativeHumidity", "DAILYAverageDewPointTemp",
              "DAILYAverageWetBulbTemp", "DAILYHeatingDegreeDays",
              "DAILYCoolingDegreeDays", "DAILYSunrise", "DAILYSunset",
              "DAILYWeather", "DAILYPrecip", "DAILYSnowfall",
              "DAILYSnowDepth", "DAILYAverageStationPressure",
              "DAILYAverageSeaLevelPressure", "DAILYAverageWindSpeed",
              "PeakWindDirection", "DAILYSustainedWindSpeed",
              "DAILYSustainedWindDirection", "MonthlyMaximumTemp",
              "MonthlyMinimumTemp", "MonthlyMeanTemp", "MonthlyAverageRH",
              "MonthlyDewpointTemp", "MonthlyWetBulbTemp",
              "MonthlyAvgHeatingDegreeDays", "MonthlyAvgCoolingDegreeDays",
              "MonthlyStationPressure", "MonthlyTotalLiquidPrecip",
              "MonthlyGreatestPrecip", "MonthlyGreatestPrecipDate",
              "MonthlyGreatestSnowfall", "MonthlyGreatestSnowfallDate",
              "MonthlyGreatestSnowDepth", "MonthlyGreatestSnowDepthDate",
              "MonthlyDaysWithGT90Temp", "MonthlyDaysWithLT32Temp",
              "MonthlyDaysWithGT32Temp", "MonthlyDaysWithLT0Temp",
              "MonthlyDaysWithGT001Precip", "MonthlyDaysWithGT010Precip",
              "MonthlyDaysWithGT1Snow", "MonthlyMaxSeaLevelPressureValue",
              "MonthlyMaxSeaLevelPressureDate", "MonthlyMaxSeaLevelPressureTime",
              "MonthlyMinSeaLevelPressureValue", "MonthlyMinSeaLevelPressureDate",
              "MonthlyMinSeaLevelPressureTime", "MonthlyTotalHeatingDegreeDays",
              "MonthlyTotalCoolingDegreeDays", "MonthlyDeptFromNormalHeatingDD",
              "MonthlyDeptFromNormalCoolingDD", "MonthlyTotalSeasonToDateHeatingDD",
              "MonthlyTotalSeasonToDateCoolingDD"],axis=1, inplace=True)

In [ ]:
weather.shape

In [ ]:
weather.columns

In [ ]:
weather.drop(["DAILYPeakWindSpeed", "MonthlySeaLevelPressure",
              "MonthlyAverageWindSpeed", "MonthlyTotalSnowfall",
              "MonthlyDeptFromNormalMaximumTemp", "MonthlyDeptFromNormalMinimumTemp",
              "MonthlyDeptFromNormalAverageTemp", "MonthlyDeptFromNormalPrecip"],
              axis=1, inplace=True)

In [ ]:
weather.shape

In [ ]:
weather.columns

In [ ]:
weather.head()

In [ ]:
weather.isnull().sum()

In [ ]:
weather.drop(["HOURLYPRSENTWEATHERTYPE", "HOURLYWindGustSpeed",
              "HOURLYPressureChange"], axis=1, inplace=True)

In [ ]:
weather.isnull().sum()

In [ ]:
weather.shape

In [ ]:
weather.head()

In [ ]:
weather["DATE"] = pd.to_datetime(weather["DATE"])

In [ ]:
weather['hour'] = weather["DATE"].dt.round('H').dt.hour

In [ ]:
weather['DATE_formatted'] = [x.round('H') for x in weather['DATE']]

In [ ]:
weather.head()

In [ ]:
weather.tail()

In [ ]:
weather.isnull().sum()

In [ ]:
[col for col in weather.columns if col.contains == "HOURLY"]

In [ ]:
weather[[col for col in weather.columns if "HOURLY" in col]]

In [ ]:
weather.loc[0]

In [ ]:
len(weather.columns)

In [ ]:
weather

In [ ]:
weather.shape

In [ ]:
15711 / 24

In [ ]:
654 / 365

In [ ]:
weather.loc[0]

In [ ]:
weather["HOURLYDewPointTempF"]

In [ ]:
[col for col in weather.columns]

In [ ]:
temp = pd.to_datetime(weather.loc[0, "DATE"]).round("H")

In [ ]:
temp

In [ ]:
df.loc[0, "Date/Time"]

In [ ]:
pd.to_datetime(df.loc[0, "Date/Time"])

In [ ]:
temp.hour

In [ ]:
weather.info()

In [ ]:
df.isnull().sum()

In [ ]:
df.drop("Email", "Phone Number")

In [ ]:
df.columns

In [ ]:
df.head()

In [ ]:
df.iloc[0]

In [ ]:
price = 3.68 + 3.4 + 1.24 + 11.32 + .35
price

In [ ]:
11.32 * .3

In [ ]:
11.32 - 1.24 + 3.4 - 3.68 - .35

In [ ]:
31.17 - 24.33

In [ ]:
3.66 + 3.19

In [ ]:
uber = 3.68

In [ ]:
other = 1.24 + .35

In [ ]:
price - (3.68 + 1.24 + )

In [ ]:
df["Total"].isnull().sum()

In [ ]:
df["Fare"].isnull().sum()

In [ ]:
df["Distance"]

In [ ]:
df["Distance"].isnull().sum()

In [ ]:
distance = 1.1785

In [ ]:
df.shape

In [ ]:
df = df.drop(["Phone Number", "Email", "Trip ID", "Wait Time",
              "Quest Promotion", "Other Promotions",
              "Vehicle Related Fee", "Consecutive Trips Promotion"],
             axis=1, inplace=True)

In [ ]:
df

In [ ]:
df = pd.join("week1", "week2")

In [ ]:
!pip install sodapy

In [ ]:
from IPython.core.display import HTML
from sodapy import Socrata

In [ ]:
API_KEY = "h7yCtYE6RefybPVtrXLqQ2iPY"
API_SECRET = "kEfVlS7v4ng-BPLIRxlKXkJLZdH0AOQGEhfn"

network = socrata(API_KEY, API_SECRET)

In [35]:
my_list = [1, 2, 3, 4, 5, 6, 7]

In [37]:
def multipy(value):
    return value * 2

In [40]:
for i in my_list:
    print(multipy(i))

2
4
6
8
10
12
14